args==0.1.0
boto3==1.4.3
botocore==1.4.93
clint==0.5.1
docutils==0.13.1
futures==3.0.5
gordon==0.5.0
Jinja2==2.9.4
jmespath==0.9.0
MarkupSafe==0.23
python-dateutil==2.6.0
PyYAML==3.12
s3transfer==0.1.10
six==1.10.0
troposphere==1.9.1
